* {
	box-sizing: border-box;
}
body {
    background-color: #eee;
}

.header {
	height: 50px;
	padding: 0.5rem;
}

.container {
	padding: 1rem;
	white-space: nowrap;
}

.category {
	background-color: #e2e4e6;
	border-radius: 5px;
	display: inline-block;
	margin: 0 1rem 1rem 0;
	padding: 0.5rem;
	vertical-align: top;
	width: 300px;
}

.modal {
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.modal-background {
    background-color: black;
    height: 100%;
    left: 0px;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    width: 100%;
}

.modal-content {
	background-color: #e2e4e6;
	margin: 0 auto;
	padding: 0.5em;
	position: relative;
	top: 30%;
	width: 300px;
}